//Fonts
$titles: 'Big Shoulders Display', cursive;
$regular: 'VT323', monospace;

// Colors
$darkie: #302B3F;
$lightie: #C3DBE7;
$white: #F5F5F5;

// Queries
$desktop: 1024px;
$tablet: 768px;