//Fonts
$titles: 'Big Shoulders Display', cursive;
$regular: 'VT323', monospace;

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'VT323', monospace;
 */

// Colors
$darkie: #302B3F;
$lightie: #C3DBE7;
$white: #F5F5F5;