.home {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  color: $darkie;
  height: 100vh;
  background-image: url("../../images/hhholographic.webp");
  background-size: cover;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $titles;
    font-size: 5.6rem;
    padding: 3rem 60rem;

    &--span {
      font-family: $regular;
      font-size: 5rem;
      text-align: center;
      padding: 1rem;
    }

    .spaced {
      padding-left: 1rem;
      animation: spacing 1.5s ease-out;
      animation-delay: 2s;
      animation-fill-mode: backwards;
    }

    .ghost {
      animation: slidein 4s cubic-bezier(0.86, 0.06, 0.3, 0.79);
      animation-delay: 0.5s;
      animation-fill-mode: backwards;
    } 
  }

  &__subtitle {
    font-family: $regular;
    font-size: 3.2rem;
    text-align: center;
    width: 55%;
  }

  &__nav--menu {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;

    &--item {
      font-family: $titles;
      font-size: 3.2rem;
      padding: 0 0.3rem;

      &--link {
        text-decoration: none;
        color: $darkie;
      }
    }
  }
}
