.home {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  padding: 0 6rem;
  color: $darkie;
  height: 100vh;
  background-image: url("../../images/hhholographic.webp");
  background-size: cover;
  @media (min-width: $desktop) {
    padding: 0 3rem;
  justify-items: flex-start;  
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $titles;
    font-size: 3.8rem;
    

    @media (min-width:$desktop){
      font-size: 8rem;
    }

    &--span {
      font-family: $regular;
      font-size: 5rem;
      text-align: center;
      padding: 1rem;
    }

    .spaced {
      padding-left: 1rem;
      animation: spacing 1.5s ease-out;
      animation-delay: 2s;
      animation-fill-mode: backwards;
    }

    .ghost {
      animation: slidein 4s cubic-bezier(0.86, 0.06, 0.3, 0.79);
      animation-delay: 0.5s;
      animation-fill-mode: backwards;
    }
  }

  &__subtitle {
    font-family: $regular;
    font-size: 3rem;
    text-align: center;

    @media (min-width: $desktop) {
      text-align: left;
      font-size: 4rem;
    }
  }

  &__nav--menu {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;

    &--item {
      font-family: $titles;
      font-size: 2rem;
      padding: 0 0.4rem;

      &--link {
        text-decoration: none;
        color: $darkie;
        cursor: pointer;
        user-select: none;
        color: $darkie;
        transform: translate3d(0, 0, 0);
        filter: blur(0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        &--span {
          font-size: 2rem;
          margin: 0;
          padding: 0;
          display: inline-block;
          position: relative;
          transition: transform cubic-bezier(0.77, 0, 0.175, 1), 250ms;
          padding: 0 0.1rem;

          @media(min-width:$desktop) {
            font-size: 4rem;
          }

          // loop adding delay for each menu words letter effect
          @for $i from 0 through 3 {
            &:nth-child(#{$i}n) {
              transition-delay: 250ms * $i/3;
            }
            &:nth-child(#{$i}n)::after {
              transition-delay: 250ms * $i/3;
            }

            // letters go to the original position after word hover
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: -1%;
              width: 102%;
              height: 3rem;
              background: $darkie;
              transform-origin: top center;
              transform: scaleY(0.1);
              transition: transform cubic-bezier(0.77, 0, 0.175, 1), 250ms;
            }
          }
        }
      }

      // if mouse hover, the word goes up
      &:hover {
        span {
          transform: translateY(-2rem);
          &::after {
            transform: scaleY(1);
          }
        }
      }

      // if click in the word, activate the transition
      &:active {
        span {
          transform: translateY(0);
          transition: transform cubic-bezier(0.77, 0, 0.175, 1), 250ms/2;
          transition-delay: 0 !important;
          &::after {
            transform: scaleY(0.5);
            transition: transform cubic-bezier(0.77, 0, 0.175, 1), 250ms/2;
            transition-delay: 0 !important;
          }
        }
      }
    }
  }
}
