.work {
  padding: 2.5rem 0;
  height: 100vh;
  background-color: $darkie;
  color: $lightie;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 7% 80%;
    grid-template-rows: 1fr;
    padding: 0 0 0 0;
  }

  &__aside {
    // loop to print aside varia
    @each $prop, $value in $aside {
      #{$prop}: $value;
    }
    padding-bottom: 4rem;

    .menu-line{
    width: 100px;
    height: 1px;
    background-color: $lightie ;
    margin-right: 1rem;
    }
  }

  &__aside--desktop {
    @media (min-width: $desktop) {
      flex-direction: column-reverse;
      padding-bottom: 0;
      
      p{
        transform: rotate(-90deg);
        padding-left: 3rem;
      }

      .menu-line {
        margin-right: 0;
        width: 1px;
        height: 400px;
      }
    }
  }


  &__projects-list {
    padding-top: 20rem;
  }

  &__project {
    padding: 0 4rem;

    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 60% 1fr;
      grid-template-rows: 40% 20% 60%;
      column-gap: 4rem;
    }

    &--link {
      text-decoration: none;
      color: $lightie;

      @media (min-width: $desktop) {
        grid-column: 2;
        grid-row: 1;
      }
    }

    &--title {
      font-family: $titles;
      font-size: 4rem;
      padding-bottom: 0.7rem;
    }

    &--languages {
      font-family: $regular;
      font-size: 2rem;
      padding-bottom: 3.5rem;

      @media (min-width: $desktop) {
        grid-column: 2;
        grid-row: 2;
      }
    }

    &--info {
      display: none;
    }

    .show-info {
      font-family: $regular;
      font-size: 1.6rem;
      padding-bottom: 3rem;

      @media (min-width: $desktop) {
        grid-column: 1;
        grid-row: 1/3;
        padding-bottom: 0;
        font-size: 2.2rem;
      }
    }
  }
}
