@import "./core/reset";
@import "./core/variables";
@import "./core/animations";

@import "./partials/home";
@import "./partials/work";
@import "./partials/about";
@import "./partials/contact";

.noise {
    position: fixed;
    z-index: 9999;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    animation: noise 5s steps(5) infinite;
    background-image: url(../images/noise.png);
    opacity: 0.15;
     pointer-events: none;
}

.menu-left {
    font-family: $regular;
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    color: $lightie;
}

.menu-right {
    font-family: $regular;
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    color: $darkie;
}

.menu-line{
    width: 100px;
    height: 1px;
    background-color: $lightie ;
}